<!DOCTYPE html>
<html ng-app="SP360Converter">

<head>
    <meta charset="UTF-8">
    <title>SP360Converter</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-electron/ng-electron.js"></script>
    <script src="index.js"></script>
</head>

<body ng-controller="MainController">
    <div>
        <button type="button" class="btn btn-primary-outline" ng-click="openFile()">開く</button>
        <span>{{src_file}}</span>
    </div>

    <div>
        <label>開始 [msec]
            <input type="number" ng-model="start_time">
        </label>
    </div>
    <div>
        <label>終了 [msec]
            <input type="number" ng-model="end_time">
        </label>
    </div>
    <div>
        <label>開始角度
            <input type="number" ng-model="start_angle">
        </label>
    </div>
    <div>
        <label>終了角度
            <input type="number" ng-model="end_angle">
        </label>
    </div>


    <div>
        <button type="button" class="btn btn-primary-outline" ng-click="convert()">変換</button>
        <span>{{dst_file}}</span>
    </div>
    <div>
        <span>{{convert_progress}}</span>
    </div>
</body>

</html>
