<!DOCTYPE html>
<html ng-app="SP360Converter">

    <head>
        <meta charset="UTF-8">
        <title>SP360Converter</title>
        <link href="bower_components/photon/dist/css/photon.css" rel="stylesheet">
        <link href="index.css" rel="stylesheet">
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/ng-electron/ng-electron.js"></script>
        <script src="index.js"></script>
    </head>

    <body ng-controller="MainController">
        <div class="window">
            <div class="window-content">
                <div class="pane-group">
                    <div class="pane grid-wrapper">
                        <div id="setting-component" class="grid-component">
                            <div>
                                <button type="button" class="btn btn-default" ng-click="openFile()">
                                    開く
                                </button>
                            </div>
                            <div>
                                <input type="number" min="0" ng-disabled="is_all_frame" ng-model="start_frame">
                                ~
                                <input type="number" min="0" ng-disabled="is_all_frame" ng-model="end_frame">
                                フレーム
                                <br>
                                <input type="number" min="0" ng-disabled="is_all_frame" ng-model="start_frame" frame2sec>
                                ~
                                <input type="number" min="0" ng-disabled="is_all_frame" ng-model="end_frame" frame2sec>
                                秒
                                <br>
                                全て
                                <input type="checkbox" ng-model="is_all_frame" ng-change="changeAllTime()">
                            </div>
                            <div>
                                <label>開始角度</label>
                                <input type="range"  min="0" max="360" ng-model="angle_start" ng-change="updatePreview()" number-input>
                                <input type="number" min="0" max="360" ng-model="angle_start" ng-change="updatePreview()">
                            </div>
                            <div>
                                <label>角度幅　</label>
                                <input type="range"  min="0" max="360" ng-model="angle" ng-change="updatePreview()" number-input>
                                <input type="number" min="0" max="360" ng-model="angle" ng-change="updatePreview()">
                            </div>
                            <div>
                                <label>内半径</label>
                                <input type="range"  step="0.01" min="0" max="1" ng-model="radius_start" ng-change="updatePreview()" number-input>
                                <input type="number" step="0.01" min="0" max="1" ng-model="radius_start" ng-change="updatePreview()">
                            </div>
                            <div>
                                <label>外半径</label>
                                <input type="range"  step="0.01" min="0" max="1" ng-model="radius_end" ng-change="updatePreview()" number-input >
                                <input type="number" step="0.01" min="0" max="1" ng-model="radius_end" ng-change="updatePreview()">
                            </div>
                            <div>
                                <label>分割</label>
                                <label ng-repeat="n in n_split_choices">
                                    <input type="radio" name="n_split" ng-model="$parent.n_split" ng-value="n" ng-change="updatePreview()">
                                    {{n}}
                                </label>
                            </div>
                            <div>
                                <label>解像度
                                    <select ng-model="resolution" ng-options="r.name for r in resolutions" ng-change="updatePreview()"></select>
                                </label>
                            </div>
                        </div>

                        <div id="preview-component" class="grid-component">
                            <div class="canvas-wrapper" id="original-preview">
                                <canvas id="original-preview-canvas"></canvas>
                            </div>
                            <div class="canvas-wrapper" id="converted-preview">
                                <canvas id="converted-preview-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="toolbar toolbar-footer">
                <div class="toolbar-actions">
                    <progress value="{{convert_progress}}" max="1.0"></progress>
                    <button class="btn btn-default pull-right" ng-disabled="isConverting()" ng-click="convert()">
                        変換
                    </button>
                </div>
            </footer>
        </div>
    </body>

</html>
